.page__body {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: clr(pageBgd);
}

.page__container {
  margin: 0 auto;
  max-width: 1220px;
  padding-left: 10px;
  padding-right: 10px;
}
