.page__body {
  font-family: "Montserrat", sans-serif;
  // font-family: "Lato", sans-serif;
}

.page__container {
  margin: 0 auto;
  max-width: 1220px;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
}
